@font-face {
    font-family: Unbounded-Bold;
    src: url(./Fonts/Unbounded-Bold.ttf);
    format:("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Poppins-Regular;
    src: url(./Fonts/Poppins-Regular.ttf);
    format:("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



/* Resetando o CSS */

*{
    margin: 0;
    padding: 0;
}



/* Estilizando o Site Para Pc*/

body{
    background-color: #0E1014;
}

.Title{
    font-size: 64px;
    color: #F5F5F5;
    font-family: Unbounded-Bold, sans-serif;
    text-align: center;
    margin-top: 60px;
}
.Title spam{
    color: #9747FF;
    
}
.sub-Title{
    font-size: 24px;
    color: #F5F5F5;
    font-family: Poppins-Regular, sans-serif;
    text-align: center;
    margin: 24px auto;
    width: 792px;
}

.Botao{
    color: #F5F5F5;
    font-family:Poppins-Regular, sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    line-height: 66px;
    text-align: center;
    border-radius: 36px;
    margin: 40px auto;
}

.Img-Celular{
    display: block;
    width: 792px;
    height: 446px;
    margin: 40px auto;
}

.Img-TecBoard{
    display:block;
    width: 210px;
    height: 34px;
    margin: 75px 0 0 360px;
}


/* Estilizando o Site Para Tablet*/
@media(max-width: 786px){

.Img-TecBoard{
    margin: 65px 0 0 60px;
}

.sub-Title{
    width: 648px;
}

.Img-Celular{
    width: 660px;
    height: 446px;
}

}

/* Estilizando o Site Para Celular*/

@media(max-width: 375px){

.Img-TecBoard{
    margin: 32px 0 0 16px;
}

.Title{
    
    font-size: 40px;
}

.Img-Celular{
    width: 340px;
    height: 230px;
}

.sub-Title{
    width: 341px;
    font-size: 20px;
}

.Botao{
    width: 251px;
    height: 66px;
    font-size: 20px;
}

}